    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src=images/icon.png width='30px'> Beaker</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="nav-about"><a href="about.html">About / features</a></li>
                    <li id="nav-getting-started"><a href="getting-started.html">Getting started</a></li>
                    <li id="nav-faq"><a href="faq.html">FAQ</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Stack Overflow <i class="fa fa-external-link-square"></i></a></li>
                            <li><a href="#">Twitter <i class="fa fa-external-link-square"></i></a></li>
                            <li><a href="#">Blog <i class="fa fa-external-link-square"></i></a></li>
                        </ul>
                    </li>                            
                    <li><a href="https://github.com/twosigma/beaker-notebook">GitHub <i class="fa fa-external-link-square"></i></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>