<h5>Python</h5>
<p>Our Python plugin requires a version of IPython >= 1.0. Install with:</p>
<code>sudo apt-get install ipython-notebook </code><br /><br />

<p>Check your ipython version with <code>ipython --version</code> if it's below 1.0, run the following: </p>

<code>sudo apt-get install python-pip </code><br />
<code>sudo pip install --upgrade ipython[all] jinja2 tornado</code><br />

<h5>R</h5>
<p>Run this in your terminal:</p>
<p>
    <code>sudo apt-get install r-base</code><br />
</p>

<p>Open R and run this:</p>
<code>install.packages('Rserve')</code>
<br />
<code>install.packages("ggplot2")</code>

<h5>Julia</h5>
<p>Requires <a href="https://github.com/JuliaLang/IJulia.jl">IJulia</a>     
